/* Réinitialisation des marges et des rembourrages */
body, html {
    margin: 0;
    padding: 0;
}

/* Styles généraux */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 80px 0;
}

h1 {
    font-size: 36px;
}

.about, .skills, .experience {
    margin-top: 40px;
}

/* Styles spécifiques */
ul {
    list-style-type: none;
    padding: 0;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}